body {
	color: #1fdbd5;
	background: url('https://www.itl.cat/pngfile/big/7-73564_black-wallpaper-for-iphone.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 1500px;
}

hr {
	background-color: #1fdbd5;
}

h4 {
	font-family: 'Audiowide';
}

h3#name {
	font-family: 'Press Start 2P', cursive;
}

img.w-75 {
	border-radius: 10px;
	border: 3px solid #1fdbd5;
}

header.container-fluid {
	/* background-color: #0e1111; */
}

nav.navbar {
	font-family: 'Audiowide', cursive;
}

i.fa-user-astronaut {
	color: #1fdbd5;
	font-size: 2rem;
}

main.container-fluid {
	/* background-color: #232b2b; */
}

footer.container-fluid {
	height: 400px;
	/* background-color: #353839; */
}
